{% extends "base.njk" %}

{% block contenido %}
    <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Próximamente
                        </h1>
                        <h2 class="subtitle">
                            Bienvenido a la web de $this. Cultura a su alcance como nunca antes.
                        </h2>
                        <div class="box">
                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    <input class="input" type="text" placeholder="Introduzca su email">
                                </p>
                                <p class="control">
                                    <a class="button is-info">
                                        Notificarme
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}