{% extends "base.njk" %}

{% block contenido %}
    <div class="hero-body">
                <div class="container has-text-centered">
                    <div class="column is-6 is-offset-3">
                        <h1 class="title">
                            Próximamente
                        </h1>
                        <h2 class="subtitle">
                            Bienvenido a la web de $this. Cultura a su alcance como nunca antes.
                        </h2>
                        <div class="box">
                            <form action="/obras/buscar" method="GET">
                                <div class="field is-grouped">
                                    <p class="control is-expanded">
                                        <input
                                            class="input"
                                            name="busqueda"
                                            placeholder="Buscar"
                                            type="text"
                                            pattern="[a-zA-Z0-9]{3-12}"
                                        >
                                    </p>
                                    <p class="control">
                                        <input type="submit" value="Buscar" class="button is-success">
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}